@charset "utf-8";

/*  -------------------------------------------------------------
    Launch Nasqueron
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    Author:         Dereckson
    Filename:       app.css
    Version:        1.0
    Licence:        Creative Commons BY 3.0, BSD-2-Clause
    -------------------------------------------------------------    */

/*  -------------------------------------------------------------
    Table of contents
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    :: Main styles

*/

/*  -------------------------------------------------------------
    Main styles
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

body {
    background-color: #44484D;
}
